.footer {
  padding: 100px $padding_side;
  background-color: $color-secondary;

  .container__first {
    display: flex;
    justify-content: space-between;
    padding-bottom: 34px;

    .container__title {
      @extend %footer__container;
      color: $color-light-xl;
      row-gap: 20px;

      @media only screen and (max-width: $breakpoints_desktop) {}

      @media only screen and (max-width: $breakpoints_tablet) {
        padding: 0 30px;
        max-width: 100%;
      }

      @media only screen and (max-width: $breakpoints_mobile) {
        padding: 0;
      }
    }

    .container_lists {
      display: flex;
      column-gap: 16px;

      .container__list {
        min-width: 221px;
        @extend %footer__container;
        color: $color-light-xl;
        row-gap: 10px;

        .container_link {
          max-width: fit-content;
          transition: all ease-in-out $mainTransition;

          &:hover {
            color: $color-dark-l;
            transition: all ease-in-out $mainTransition;
          }
        }

        @media only screen and (max-width: $breakpoints_desktop) {
          min-width: 180px;
        }

        @media only screen and (max-width: $breakpoints_tablet) {
          min-width: 160px;
        }
      }

      .container__list:last-child {
        @media only screen and (max-width: $breakpoints_tablet) {
          min-width: 80px;
        }
      }

      @media only screen and (max-width: $breakpoints_tablet) {
        justify-content: space-around;
        padding: 0 30px;
      }

      @media only screen and (max-width: $breakpoints_mobile) {
        padding: 0;
      }
    }

    @media only screen and (max-width: $breakpoints_tablet) {
      flex-direction: column;
      row-gap: 20px;
    }
  }

  .container__subscribe {
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 36px 0;
    row-gap: 16px;

    .subscribe__text {
      display: flex;
      flex-direction: column;
      row-gap: 20px;

      @media only screen and (max-width: $breakpoints_tablet) {
        margin-bottom: 50px;
      }
    }

    .subscribe__form {
      display: flex;
      align-items: center;
      position: relative;
      justify-content: center;

      @media only screen and (max-width: $breakpoints_tablet) {
        justify-content: center;
      }
    }

    @media only screen and (max-width: $breakpoints_tablet) {
      display: block;
      text-align: center;
    }
  }

  .container__devider {
    height: 2px;
  }

  .container__last {
    padding-top: 56px;
    display: flex;
    justify-content: space-between;

    .container__license {
      @extend %font-paragraph-l;

      @media only screen and (max-width: $breakpoints_tablet) {
        margin-right: 15px;
      }
    }

    .content__icons {
      display: flex;
      column-gap: 20px;

      .content__icon {
        text-align: center;
        width: 24px;

        .content__link {
          display: block;
          background-position: center;
          background-repeat: no-repeat;
          height: 24px;
          width: 24px;
          transition: all ease-in-out $mainTransition;

          &:hover {
            transition: all ease-in-out $mainTransition;
          }
        }

        .twiter {
          background-image: url(../assets/icons/twitter.svg);

          &:hover {
            background-image: url(../assets/icons/twitter-hover.svg);
          }
        }

        .instagram {
          background-image: url(../assets/icons/instagram.svg);

          &:hover {
            background-image: url(../assets/icons/instagram-hover.svg);
          }
        }

        .facebook {
          background-image: url(../assets/icons/facebook.svg);

          &:hover {
            background-image: url(../assets/icons/facebook-hover.svg);
          }
        }
      }
    }
  }


  @media only screen and (max-width: $breakpoints_desktop) {
    padding: 80px $padding_destop;
  }

  @media only screen and (max-width: $breakpoints_tablet) {
    padding: 70px $padding_tablet;
  }

  @media only screen and (max-width: $breakpoints_mobile) {
    padding: 40px $padding_mobile;
  }
}

.switch {
  position: absolute;
  font-size: 20px;
  top: 50%;
  left: 50%;
  width: 150px;
  height: 50px;
  text-align: center;
  margin: -30px 0 0 -75px;
  background: #056353;
  transition: all 0.2s ease;
  border-radius: 25px;
}

.switch span {
  position: absolute;
  width: 20px;
  height: 4px;
  top: 50%;
  left: 50%;
  margin: -2px 0px 0px -4px;
  background: #fff;
  display: block;
  transform: rotate(-45deg);
  transition: all 0.2s ease;
}

.switch span:after {
  content: "";
  display: block;
  position: absolute;
  width: 4px;
  height: 12px;
  margin-top: -8px;
  background: #fff;
  transition: all 0.2s ease;
}

input[type=radio] {
  display: none;
}

.switch label {
  cursor: pointer;
  color: rgba(150, 123, 5, 0.589);
  width: 60px;
  line-height: 50px;
  transition: all 0.2s ease;
}

label[for=yes] {
  position: absolute;
  left: 0px;
  height: 20px;
}

label[for=no] {
  position: absolute;
  right: 0px;
}

#no:checked~.switch {
  background: #272120;
}

#no:checked~.switch span {
  background: #fff;
  margin-left: -8px;
}

#no:checked~.switch span:after {
  background: #fff;
  height: 20px;
  margin-top: -8px;
  margin-left: 8px;
}

#yes:checked~.switch label[for=yes] {
  color: #fff;
}

#no:checked~.switch label[for=no] {
  color: #fff;
}