.burger_wrapper {
  position: absolute;
  width: 64px;
  height: 64px;
  top: -90%;
  left: 0;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid transparent;
  transition: all 0.3s;
  z-index: 999;

  @media only screen and (max-width: $breakpoints_tablet) and (hover: hover) {
    &.burger_wrapper--transparent {
      background-color: transparent;
    }

    &:hover,
    &.burger_wrapper--transparent:hover {
      cursor: pointer;
      background-color: $color-dark-s-active;
    }

    &:active,
    &.burger_wrapper--transparent:active {
      background-color: $color-primary;
    }
  }
}

#navigation-menu {
  position: fixed;
  top: 90px;
  right: -100%;
  width: 250px;
  background-color: $color-primary;
  z-index: 9999;
  transition: right 0.5s ease-in-out;

  ul {
    display: flex;
    flex-direction: column;
    padding: 40px;
    row-gap: 30px;
    font-size: 14px;
    list-style-type: none;
    @media only screen and (max-width: $breakpoints_mobile) {
      padding: 20px;
      row-gap: 20px;
    }
  }
  @media only screen and (max-width: $breakpoints_mobile) {
    width: 180px;
    top: 60px;
  }
}

#navigation-menu.open {
  @media only screen and (max-width: $breakpoints_tablet) {
    right: 0;
  }
}

.burger-menu-icon {
  display: block;
  width: 30px;
  height: 4px;
  background-color: $color-dark-s;
  margin: 8px;
  margin-left: 16px;
  transition: transform 0.3s ease-in-out;

  &:hover {
    background-color: red;
  }

  &::before,
  &::after {
    content: "";
    display: block;
    width: 30px;
    height: 4px;
    background-color: $color-dark-s;
    margin: 8px 0;
    transition: transform 0.3s ease-in-out;

  }

  &::before {
    transform: translateY(-20px);
  }

  &::after {
    transform: translateY(8px);
  }
}

#burger-menu-button.open + .burger-menu-icon {
  transform: translateX(8px) rotate(45deg);
  margin-left: 8px;
}

#burger-menu-button.open + .burger-menu-icon::before {
  transform: translate(0) rotate(90deg);
}

#burger-menu-button.open + .burger-menu-icon::after {
  display: none;
  transform: translateY(0) rotate(-90deg);
}
