.input {
  width: 458px;
  padding: 15px;
  padding-right: 130px;
  font-size: 15px;
  background-color: $color-light-l;
  border-radius: 12px;
  z-index: 1;
  outline: none;
  border: 1px solid transparent;

  &:active,
  &:hover,
  &:focus {
    border: 1px solid $color-dark-m;
  }
  @media only screen and (max-width: $breakpoints_desktop) {
    width: 400px;
  }
  @media only screen and (max-width: $breakpoints_tablet) {
    top: 0;
    width: 340px;
    padding-right: 110px;
  }
  @media only screen and (max-width: $breakpoints_mobile) {
    width: 260px;
    padding: 5px 85px 5px 10px;
    border-radius: 8px;
  }
}
