
%font-button {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  line-height: 20px;
  @media only screen and (max-width: $breakpoints_tablet) {
    font-size: 12px;
  }
}

%font-paragraph-l {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #c0c0c0;
  @media only screen and (max-width: $breakpoints_tablet) {
    font-size: 12px;
  }
}

%font-param-title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: #c0c0c0;
}

%footer__container {
  display: flex;
  max-width: 40%;
  flex-direction: column;
}

%amination-fadeIn-first {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

%amination-fadeIn-second {
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

%amination-fadeIn-third {
  -webkit-animation-duration: 10s;
  animation-duration: 10s;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}
