.header {
  width: 100%;
  position: fixed;
  top: 0px;
  background-color: $color-primary;
  animation-duration: 2s;
  z-index: 999;
  animation: showTop 2s;
}

.start {
  width: 100%;
  padding-top: 85px;
  background: url("../assets/images/bg-start.jpg") center / cover no-repeat;
  @extend %amination-fadeIn-second;

  .start__wrapper {
    width: 100%;
    max-width: $content-width;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    @media only screen and (max-width: $breakpoints_desktop) {
    }
  }

  .start__container {
    .content {
      text-align: center;
      flex-direction: column;
      padding: 407px 0 41px;
      overflow: hidden;

      .content__subtitle {
        color: $color-dark-s;
        margin-bottom: 1px;
        @extend %amination-fadeIn-first;
      }

      .content__title {
        text-align: center;
        color: $color-light-xl;
        margin-bottom: 18px;
        @extend %amination-fadeIn-second;
        @media only screen and (max-width: $breakpoints_tablet) {
        }
      }

      .content__text {
        max-width: 580px;
        margin: 0 auto 14px;
        @extend %font-paragraph-l;
        color: $color-dark-s;
        @extend %amination-fadeIn-third;
        @media only screen and (max-width: $breakpoints_tablet) {
        }
      }

      .content__params {
        display: flex;
        justify-content: flex-end;
        margin-right: 40px;
        column-gap: 16px;

        .content__param {
          display: flex;
          column-gap: 6px;
          align-items: center;

          .content__link {
            display: flex;
            gap: 4px;
            font-size: 14px;
            line-height: 14px;
            transition: all ease $mainTransition;
            justify-content: center;

            &:hover {
              color: $color-dark-l;
            }
          }

          .content__param_title {
            @extend %font-param-title;
          }
        }
        @media only screen and (max-width: $breakpoints_tablet) {
          margin-right: 20px;
        }
        @media only screen and (max-width: $breakpoints_mobile) {
          margin: 0 auto;
        }
      }

      @media only screen and (max-width: $breakpoints_desktop) {
        padding: 260px 0px 41px;
      }
      @media only screen and (max-width: $breakpoints_tablet) {
        padding: 260px $padding_mobile 41px;
      }
    }
    @media only screen and (max-width: $breakpoints_desktop) {
    }
  }
  @media only screen and (max-width: $breakpoints_mobile) {
    padding-top: 60px;
  }
}

.areas {
  padding: 113px $padding_side 100px;
  background-color: $color-secondary;
  overflow: hidden;
  .areas__container {
    .container__title {
      text-align: center;
      color: $color-light-xl;
      margin-bottom: 40px;
      animation-duration: 3s;

      .container__subtitle {
        margin-top: 14px;
        color: $color-dark-s;
      }
      @media only screen and (max-width: $breakpoints_tablet) {
      }
    }

    .container__cards {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 16px;

      .card {
        animation-duration: 3s;
      }
      @media only screen and (max-width: $breakpoints_tablet) {
        display: flex;
        flex-direction: column;
      }
    }
    @media only screen and (max-width: $breakpoints_desktop) {
    }
  }

  @media only screen and (max-width: $breakpoints_desktop) {
    padding: 90px $padding_destop;
  }
  @media only screen and (max-width: $breakpoints_tablet) {
    padding: 70px $padding_tablet;
  }
  @media only screen and (max-width: $breakpoints_mobile) {
    padding: 20px $padding_mobile;
  }
}

.sunset {
  width: 100%;
  background: url("../assets/images/bg-sunset.jpg") center / cover no-repeat;

  .sunset__wrapper {
    width: 100%;
    max-width: $content-width;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;

    @media only screen and (max-width: $breakpoints_desktop) {
    }
  }

  .sunset__container {
    .content {
      text-align: right;
      flex-direction: column;
      padding: 260px 40px 40px;
      overflow: hidden;

      .content__title {
        margin: 0 22px 0 auto;
        max-width: 298px;

        .content__subtitle {
          text-align: left;
          color: $color-dark-s;
          margin-bottom: 1px;
        }

        .content__text {
          text-align: left;
          max-width: 580px;
          margin: 0 0 204px auto;
          @extend %font-paragraph-l;
          color: $color-dark-s;
          @media only screen and (max-width: $breakpoints_mobile) {
            margin: 0 0 24px auto;
          }
        }
      }

      .content__params {
        display: flex;
        justify-content: flex-end;
        column-gap: 16px;

        .content__param {
          display: flex;
          column-gap: 6px;
          align-items: center;

          .content__link {
            display: flex;
            gap: 4px;
            font-size: 14px;
            line-height: 14px;
            transition: all ease $mainTransition;
            justify-content: center;

            &:hover {
              color: $color-dark-l;
            }
          }

          .content__param_title {
            @extend %font-param-title;
          }
        }
      }

      @media only screen and (max-width: $breakpoints_desktop) {
      }
      @media only screen and (max-width: $breakpoints_mobile) {
        padding: 440px $padding_mobile 40px;
      }
    }
    @media only screen and (max-width: $breakpoints_desktop) {
    }
  }
}

.gear {
  width: 100%;
  background-color: $color-secondary;

  .gear__wrapper {
    width: 100%;
    max-width: $content-width;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    @media only screen and (max-width: $breakpoints_desktop) {
    }
  }

  .gear__container {
    .content {
      display: grid;
      grid-template-columns: 1fr 1fr;
      text-align: right;
      overflow: hidden;

      .content__title {
        padding: 173px 100px 152px;
        text-align: left;
        animation-duration: 2s;

        .content__subtitle {
          color: $color-dark-s;
          margin-bottom: 6px;
        }

        .content__text {
          max-width: 580px;
          margin: 14px 0 20px;
          @extend %font-paragraph-l;
          color: $color-dark-s;
          @media only screen and (max-width: $breakpoints_tablet) {
          }
        }
        @media only screen and (max-width: $breakpoints_desktop) {
          padding: 150px 80px 152px;
        }
        @media only screen and (max-width: $breakpoints_tablet) {
          padding: 80px 50px 80px;
        }
        @media only screen and (max-width: $breakpoints_mobile) {
          padding: $padding_mobile;
        }
      }

      .content__image {
        background: url("../assets/images/gear.png") center / cover no-repeat;
        padding: 484px 40px 40px;
        animation-duration: 2s;
        @media only screen and (max-width: $breakpoints_mobile) {
          padding: 484px $padding_mobile 40px;
        }
      }

      .content__params {
        display: flex;
        justify-content: flex-end;
        column-gap: 16px;

        .content__param {
          display: flex;
          column-gap: 6px;
          align-items: center;

          .content__link {
            display: flex;
            gap: 4px;
            font-size: 12px;
            line-height: 12px;
            transition: all ease $mainTransition;
            justify-content: center;

            &:hover {
              color: $color-dark-l;
            }
          }

          .content__param_title {
            @extend %font-param-title;
          }
        }
      }

      @media only screen and (max-width: $breakpoints_desktop) {
      }
      @media only screen and (max-width: $breakpoints_tablet) {
        display: block;
      }
    }
    @media only screen and (max-width: $breakpoints_desktop) {
    }
  }
}

.monstera {
  width: 100%;
  background: url("../assets/images/monstera.jpg") center / cover no-repeat;

  .monstera__wrapper {
    width: 100%;
    max-width: $content-width;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    @media only screen and (max-width: $breakpoints_desktop) {
    }
  }
  .monstera__container {
    .content {
      text-align: right;
      flex-direction: column;
      padding: 260px 40px 40px;
      overflow: hidden;

      .content__title {
        margin: 0 22px 0 auto;
        max-width: 298px;

        .content__subtitle {
          text-align: left;
          color: $color-dark-s;
          margin-bottom: 1px;
        }

        .content__text {
          text-align: left;
          max-width: 580px;
          margin: 0 0 204px auto;
          @extend %font-paragraph-l;
          color: $color-dark-s;
          @media only screen and (max-width: $breakpoints_mobile) {
            margin: 0 0 24px auto;
          }
        }
      }

      .content__params {
        display: flex;
        justify-content: flex-end;
        column-gap: 16px;

        .content__param {
          display: flex;
          column-gap: 6px;
          align-items: center;

          .content__link {
            display: flex;
            gap: 4px;
            font-size: 14px;
            line-height: 14px;
            transition: all ease $mainTransition;
            justify-content: center;

            &:hover {
              color: $color-dark-l;
            }
          }

          .content__param_title {
            @extend %font-param-title;
          }
        }
      }

      @media only screen and (max-width: $breakpoints_desktop) {
      }
      @media only screen and (max-width: $breakpoints_mobile) {
        padding: 440px $padding_mobile 40px;
      }
    }
    @media only screen and (max-width: $breakpoints_desktop) {
    }
  }
}

.clients {
  width: 100%;
  background-color: $color-secondary;

  .clients__wrapper {
    width: 100%;
    max-width: $content-width;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    @media only screen and (max-width: $breakpoints_desktop) {
    }
  }

  .clients__container {
    .content {
      text-align: center;
      padding: 113px $padding_side 140px;
      overflow: hidden;

      .content__title {
        margin-bottom: 82px;

        .content__subtitle {
          color: $color-dark-s;
          margin-bottom: 15px;
        }

        .content__text {
          max-width: 580px;
          margin: 14px 0 20px;
          @extend %font-paragraph-l;
          color: $color-dark-s;
          @media only screen and (max-width: $breakpoints_tablet) {
          }
        }
        @media only screen and (max-width: $breakpoints_mobile) {
          margin-bottom: 40px;
        }
      }
      .content__icons {
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: 16px;
        gap: 30px 20px;
        flex-wrap: wrap;

        .content__icon {
          @media only screen and (max-width: $breakpoints_tablet) {
            padding: 0 27px;
          }

            .content__image {
              transition: all ease-in-out $mainTransition;
              
              &:hover {
                transform: scale(1.1);
                transition: all ease-in-out $mainTransition;
              }
            }
        }
        @media only screen and (max-width: $breakpoints_mobile) {
          justify-content: center;
        }
      }

      @media only screen and (max-width: $breakpoints_desktop) {
        padding: 113px $padding_destop 140px;
      }
      @media only screen and (max-width: $breakpoints_tablet) {
        padding: 80px $padding_tablet 80px;
      }
      @media only screen and (max-width: $breakpoints_mobile) {
        padding: 20px $padding_mobile 40px;
      }
    }
    @media only screen and (max-width: $breakpoints_desktop) {
    }
  }
}

.starfall {
  width: 100%;
  background: url("../assets/images/starfall.jpg") center / cover no-repeat;

  .starfall__wrapper {
    width: 100%;
    max-width: $content-width;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    @media only screen and (max-width: $breakpoints_desktop) {
    }
  }

  .starfall__container {
    .content {
      text-align: right;
      flex-direction: column;
      padding: 250px 40px 40px;
      overflow: hidden;

      .content__title {
        margin: 0 22px 0 auto;
        max-width: 298px;

        .content__subtitle {
          text-align: left;
          color: $color-dark-s;
          margin-bottom: 1px;
        }

        .content__text {
          text-align: left;
          max-width: 580px;
          margin: 0 0 193px auto;
          @extend %font-paragraph-l;
          color: $color-dark-s;
          @media only screen and (max-width: $breakpoints_mobile) {
            margin: 0 0 24px auto;
          }
        }
      }

      .content__params {
        display: flex;
        justify-content: flex-end;
        column-gap: 16px;

        .content__param {
          display: flex;
          column-gap: 6px;
          align-items: center;

          .content__link {
            display: flex;
            gap: 4px;
            font-size: 12px;
            line-height: 12px;
            transition: all ease $mainTransition;
            justify-content: center;

            &:hover {
              color: $color-dark-l;
            }
          }

          .content__param_title {
            @extend %font-param-title;
          }
        }
      }

      @media only screen and (max-width: $breakpoints_desktop) {
        padding: 180px 40px 40px;
      }
      @media only screen and (max-width: $breakpoints_mobile) {
        padding: 419px $padding_mobile 40px;
      }
    }
    @media only screen and (max-width: $breakpoints_desktop) {
    }
  }
}

.help {
  width: 100%;
  background-color: $color-secondary;

  .help__wrapper {
    width: 100%;
    max-width: $content-width;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    @media only screen and (max-width: $breakpoints_desktop) {
    }
  }
  .help__container {
    .content {
      text-align: center;
      padding: 113px $padding_side 100px;
      overflow: hidden;

      .content__title {
        text-align: center;
        animation-duration: 3s;

        .content__subtitle {
          margin: 0 auto;
          max-width: 572px;
          color: $color-dark-s;
          margin-bottom: 15px;
        }

        .content__button {
          display: flex;
          justify-content: center;
          margin-top: 20px;
        }

        .content__text {
          max-width: 580px;
          margin: 14px 0 20px;
          @extend %font-paragraph-l;
          color: $color-dark-s;
          @media only screen and (max-width: $breakpoints_desktop) {
            padding: 100px;
          }
        }
      }

      .content__icons {
        display: flex;
        justify-content: space-between;
        column-gap: 16px;

        .content__icon {
          display: flex;
          column-gap: 6px;
          align-items: center;
        }
      }

      @media only screen and (max-width: $breakpoints_desktop) {
      }
      @media only screen and (max-width: $breakpoints_tablet) {
        padding: 80px $padding_tablet 60px;
      }
      @media only screen and (max-width: $breakpoints_mobile) {
        padding: 20px $padding_mobile 20px;
      }
    }
    @media only screen and (max-width: $breakpoints_desktop) {
      flex-direction: column;
      align-items: center;
    }
  }
}