h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 54px;
  line-height: 110%;
  @media only screen and (max-width: $breakpoints_tablet) {
    font-size: 40px;
  }
}

h2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 42px;
  @media only screen and (max-width: $breakpoints_tablet) {
    font-size: 30px;
  }
  @media only screen and (max-width: $breakpoints_mobile) {
    font-size: 28px;
  }
}

h3 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 114%;
  @media only screen and (max-width: $breakpoints_tablet) {
    font-size: 22px;
  }
}

h4 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 125%;
  @media only screen and (max-width: $breakpoints_tablet) {
    font-size: 18px;
  }
  @media only screen and (max-width: $breakpoints_mobile) {
    font-size: 16px;
  }
}

h5 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  @media only screen and (max-width: $breakpoints_tablet) {
    font-size: 12px;
  }
}

h6 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  @media only screen and (max-width: $breakpoints_tablet) {
    font-size: 12px;
  }
}
